
.container1{
    display: flex;
    background-color: #fff;
    width: 85%;
    height: 400px;
    margin: auto;
}
#booking{
    display: flex;
    width: 33%;
    height:400px ;
    flex-direction: column;
    gap: 1em;
    font-size: 12px;
    font-family:  sans-serif;
    padding: 19px 0 0 10px;  
}
hr{
    width: 80%;
}
#booking div{
    padding-left: 0%;
    padding-top: 0%;
}
#sliderimg{
    height: 400px;
    width: 67%;
    background-image: url(../images/slider_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px 0 0 25px;
    box-sizing: border-box;
}
#lin1{
    font-size: 37px;
    color: #fff;
    font-family: sans-serif;
}
#lin2{
    font-size: 57px;
    color: #fff;
    font-family: sans-serif;
}
#lin3{
    font-size: 20px;
    color: #fff;
    font-family: sans-serif;
}
#container2{
    margin: auto;
    height: 415px;
    width: 85%;
    display: flex;
}
.boxA{
    height: 390px;
    width: 800px;
}
.block{
    display: flex;
    width: 1100px;
    height: 190px;
    gap: 1em;
    float: left;
    margin-bottom: 13px;
}
.box{
    width: 250px;
    height: 185px;
    box-sizing: border-box;
    box-shadow: 0 12px 16px 0 rgba(0,0, 0, 0.24) , 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.box p{
    font-size: small;
}
.box1{
    background-color: rgb(25, 70, 138);
    color: #fff;
    text-align: center;

}
.box2{
    background-color: #fff;
    color: black;
    text-align: center;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0;
    background-color: rgb(25, 70, 138);
    transition: 0.5s ease;
}
.overlay:hover{
    opacity: 1;
}
.overlaytxt{
    color: #fff;
}

.bgblue{
    display: flex;
    height: 41px;
    width: 100%;
    background-color: rgb(25, 70, 138);
    color: #fff;
    gap: 1em;
}
#txt{
    height: 41px;
    width: 75%;
    font-size: 21px;
    box-sizing: border-box;
    padding: 8px 2px 0 17px;
}
#arrow{
    height: 41px;
    width: 25%;
}
.R_img{
    height: 100px;
    width: 100px;
}
.boxB{
    height: 387px;
    width: 322px;
    background-color: #fff;
    border-radius: 3px solid black;
    box-shadow: 0 12px 16px 0 rgba(0,0, 0, 0.24) , 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#txt2{
    font-size: small;
    padding: 10px;
}
.item_container{
    height: 235px;
    width: 85%;
    margin: auto;
    box-sizing: border-box;
    /* border: 2px solid black; */
}
#cars{
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
.car1{
    margin: auto;
    box-sizing: border-box;
    width: 271px;
    height: 159px;
    box-shadow: 0 12px 16px 0 rgba(0,0, 0, 0.24) , 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition: 1s;
    position: relative;
}
.car1:hover{
    transform: scale(1.2);
}
.lowertxt{
    position: relative;
    background-color: rgba(207, 207, 207, 0.623);
    text-align: center;
    top: -34px;
    height: 30px;
    box-sizing: border-box;
    padding-top: 7px;
}
.overlay1{
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0;
    background-color: rgba(207, 207, 207, 0.719);
    transition: 0.5s ease;
    }
.overlay1:hover{
    opacity: 0.9;
    }
.overlay1 .icons{
    position: relative;
    top: 40%;
    left: 40%;
}
.icons i{
    height: 25px;
    width: 25px;
    background-color: #fff;
    box-sizing: border-box;
    padding-top: 5px;
    text-align: center;
}
#cars img{
    width: 271px;
    height: 159px;
}
#logo_container{
    height: 165px;
    width: 85%;
    margin: auto;
    box-sizing: border-box;
}
#logos{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 2.7em;
    box-sizing: border-box;
}
.logo1{
    position: relative;
    transition: all .5s ease;
}
.logo1:hover{
    transform: scaleY(-1);
}







